body{
font-family:Arial;
background:#f4f6f9;
text-align:center;
}

input{
padding:10px;
margin:5px;
}

button{
padding:10px 15px;
background:#007BFF;
color:white;
border:none;
cursor:pointer;
}

li{
list-style:none;
margin:10px;
background:white;
padding:10px;
border-radius:5px;
}

.delete{
background:red;
margin-left:10px;
}

.complete{
background:green;
margin-left:10px;
}

.progress-bar{
width:60%;
height:20px;
background:#ddd;
margin:auto;
border-radius:10px;
}

#progress{
height:100%;
width:0%;
background:green;
border-radius:10px;
}